@charset "UTF-8";
/*variables*/
/*animations keyframes*/
@keyframes appear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes disappear {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Propriétés de la page avec chargement de la page*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 9px;
  max-width: 600px;
}

/*Header*/
nav {
  position: relative;
}
nav img {
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.imag1 {
  width: 400px;
  text-align: center;
}

.fa-arrow-left {
  font-size: 35px;
}

.menu {
  display: flex;
  align-items: center;
}

.imag2 {
  width: 400px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

main div div img {
  width: 400px;
  height: 337px;
}

.corps {
  position: absolute;
  width: 400px;
  background-color: #F6F6F6;
  text-align: center;
  margin-left: 0px;
  border: 0px solid #7E7E7E;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.top {
  top: 400px;
}

.top1 {
  top: 1695px;
}

.recherche2 {
  height: 44px;
  font-size: 16px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.sstitre1 {
  font-weight: bold;
  font-size: 30px;
}

.sstitre1 {
  font-size: 20px;
}

.vide {
  height: 50px;
}

.section1 {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
}

.activ {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 6px 10px lightgray;
  height: 90px;
  width: 94%;
  margin: 20px auto;
  overflow: hidden;
  cursor: pointer;
}
.activ:hover .textphoto {
  width: 100%;
}
.activ:hover .check .fa-check-circle {
  animation-name: spin;
  animation-duration: 200ms;
  animation-delay: 800ms;
  animation-timing-function: ease-in;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.photo {
  height: 60%;
}

.photo p {
  margin: 0 1px;
  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
  padding-left: 1px;
  padding-right: 1px;
  height: 100%;
}

.textphoto {
  height: 40%;
  padding-left: 6%;
  text-align: start;
  width: 10000%;
  transition-property: width;
  transition-duration: 1s;
  display: flex;
}

.texte {
  width: 90%;
  text-overflow: ellipsis;
}

.coeur {
  padding-top: 30px;
  width: 10%;
}

.check {
  background-color: green;
  text-align: center;
  color: white;
  vertical-align: middle;
  width: 20%;
  overflow: hidden;
}

.fa-check-circle {
  margin-top: 1rem;
  font-size: 36px;
}

h2 {
  font-size: 16px;
  margin: 13px 0px 5px 0px;
}

.griser1 {
  color: black;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.fa-heart-o {
  color: #FF79DA;
}

.menu1 {
  animation: disappear 1s linear;
}

.menu2 {
  animation: disappear 2s linear;
}

.menu3 {
  animation: disappear 3s linear;
}

footer {
  width: 400px;
  margin-left: 0px;
  text-align: start;
  background-color: #353535;
  color: white;
  position: absolute;
}
footer ul {
  list-style: none;
}

/*# sourceMappingURL=stylebis.css.map */
