@charset "UTF-8";
/*variables*/
/*animations keyframes*/
@keyframes appear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes disappear {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Propriétés de la page avec chargement de la page*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

/*Header*/
nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
nav img {
  text-align: center;
  width: 45%;
  object-fit: cover;
}

.imag1 {
  width: 100%;
  text-align: center;
}

nav div a:visited {
  color: black;
}

.fleche {
  margin-left: 3%;
}

.fa-arrow-left {
  font-size: 30px;
}

.entete {
  display: flex;
  align-items: center;
}

.screenshot {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

main div div img {
  width: 100%;
  height: 337px;
  object-fit: cover;
}

.imag2 {
  width: 100%;
  text-align: center;
}

.corps {
  position: relative;
  width: 100%;
  background-color: #F6F6F6;
  text-align: center;
  margin-left: 0px;
  border: 0px solid #7E7E7E;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.top {
  top: -31px;
}

.prix {
  font-weight: bold;
  margin-top: 27px;
  font-size: 16px;
}

.section1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
}
.section1 .activ {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 6px 10px lightgray;
  height: 90px;
  width: 94%;
  margin: 20px auto;
  overflow: hidden;
  cursor: pointer;
}
.section1 .activ .textphoto {
  height: 90px;
  padding-left: 2%;
  text-align: start;
  width: 100%;
  display: flex;
}
.section1 .activ .textphoto .texte {
  width: 90%;
}
.section1 .activ .textphoto .texte .depasse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
}
.section1 .activ .textphoto .coeur {
  padding-top: 30px;
  width: 10%;
}
.section1 .activ .check {
  background-color: green;
  text-align: center;
  color: white;
  vertical-align: middle;
  width: 0%;
  overflow: hidden;
  transition-property: width;
  transition-duration: 1s;
}
.section1 .activ .check .fa-check-circle {
  margin-top: 26px;
  font-size: 36px;
}
.section1 .activ:hover .check {
  width: 20%;
}
.section1 .activ:hover .check .fa-check-circle {
  animation-name: spin;
  animation-duration: 100ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.btn {
  height: 57px;
  width: 250px;
  font-size: 18px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: 0;
  border-radius: 28px;
  margin: 50px auto;
}
.btn:hover {
  filter: brightness(1.5);
}

.vide {
  height: 50px;
}

.textphoto1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.lemenu {
  width: 78%;
}

.Restaurant {
  text-align: start;
  font-weight: normal;
  margin-left: 5%;
}

.titremenu {
  border-bottom: 4px solid #99E2D0;
}

h2 {
  font-family: "Shrikhand";
  font-size: 34px;
  margin: 13px 0px 5px 0px;
  text-align: start;
  padding-left: 0%;
}

h3 {
  font-size: 20px;
  margin-top: 30px;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0px;
}

.griser1 {
  color: black;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.fa-heart-o {
  color: black;
  font-size: 34px;
}

.menu1 {
  animation: disappear 1s linear;
}

.menu2 {
  animation: disappear 2s linear;
}

.menu3 {
  animation: disappear 3s linear;
}

.menu4 {
  animation: disappear 4s linear;
}

footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: start;
  background-color: #353535;
  color: white;
  top: -31px;
}
footer ul {
  list-style: none;
  margin-top: 0px;
  font-size: 24px;
  padding-bottom: 40px;
}
footer ul .ssfooter {
  font-family: "shrikhand";
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 20px;
}
footer ul li {
  margin-top: 12px;
}

.footertext1 {
  font-size: 22px;
}

.fa-cutlery {
  margin-right: 20px;
}

.fa-hands-helping {
  margin-right: 8px;
}

/*# sourceMappingURL=stylebis.css.map */
