@charset "UTF-8";
/*variables*/
/*animations keyframes*/
@keyframes appear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes disappear {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Propriétés de la page avec chargement de la page*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 9px;
  max-width: 600px;
}
body .load {
  animation: appear 5s linear;
  animation-fill-mode: forwards;
}
body .load .loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 13rem;
  left: 5rem;
  animation: spin 2s linear infinite;
}
body .after-load {
  animation: disappear 5s linear;
}

/*Header*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .logo {
  width: 600px;
  text-align: center;
}
nav .logo img {
  width: 308px;
  height: 53px;
  object-fit: cover;
}
nav .localisation {
  width: 600px;
  background-color: #EAEAEA;
  text-align: center;
  border-top: 2px solid #E3E3E3;
}
nav .localisation p {
  font-size: 16px;
  font-weight: bold;
}
nav .localisation p .fa-map-marker {
  color: black;
  margin-right: 7px;
}
nav .reserver {
  background-color: #F6F6F6;
  width: 600px;
  text-align: center;
}
nav .reserver .soustitre1 {
  font-weight: bold;
  font-size: 30px;
  width: 414px;
  margin: 10px auto;
}
nav .reserver .soustitre2 {
  font-size: 20px;
  width: 414px;
  margin: 10px auto;
}
nav .reserver .btn {
  height: 44px;
  font-size: 16px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
nav .reserver .vide {
  height: 50px;
}

/*section1*/
.section1 {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-top: 33px;
  font-weight: 900;
  text-align: start;
  margin-left: 36px;
}

.fonctionnement {
  margin: 5px auto;
  margin-left: 10px;
  height: 40px;
  width: 375px;
  position: relative;
  border: 1px solid #F5EDFF;
  border-radius: 50px 50px 50px 50px;
  background-color: #F5EDFF;
  box-shadow: 6px 6px 10px #f6f6f6;
}

.fonctionnement div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #9356DC;
  text-align: center;
}

.fonctionnement a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding-left: 13px;
}

.top {
  top: 11px;
}

.left {
  left: -8px;
}

.nbricon {
  color: white;
  font-size: 7px;
}

.text-fonct {
  padding-left: 27px;
  margin-top: -7px;
  padding-right: 110px;
}

.fa-mobile-alt, .fa-list-ul {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  padding-right: 40px;
}

/*section2*/
.section2 {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #F6F6F6;
}

h1 {
  text-align: start;
  padding-left: 30px;
}

.restaurant {
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 6px 10px lightgray;
  height: 200px;
  width: 94%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.photo {
  height: 60%;
  position: relative;
}
.photo p {
  margin: 0 1px;
  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
  padding-left: 1px;
  padding-right: 1px;
  height: 100%;
}

.figure {
  height: 100%;
  width: 97%;
  border: 0px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

svg {
  stroke: black;
  stroke-width: 30px;
  width: 245px;
  height: 20px;
  color: transparent;
  cursor: pointer;
  position: absolute;
  left: 230px;
}
svg:hover {
  fill: #FF79DA;
}

.nonsurligne {
  text-decoration: none;
  color: black;
}

.nouveau {
  position: absolute;
  background: lightgreen;
  width: 77px;
  height: 32px;
  margin-left: 28rem;
}
.nouveau p {
  color: #008000;
}

.top2 {
  top: 10px;
  left: 10px;
}

.textphoto {
  height: 40%;
  padding-left: 6%;
  text-align: start;
}

h2 {
  font-size: 16px;
  margin: 13px 0px 5px 0px;
}

.griser1 {
  color: black;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: -12px;
}

footer {
  width: 600px;
  margin: 0 auto;
  text-align: start;
  background-color: #353535;
  color: white;
}
footer ul {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
