@charset "UTF-8";
/*variables*/
/*animations keyframes*/
@keyframes appear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes disappear {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Propriétés de la page avec chargement de la page*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 1024px;
}
body .load {
  animation: appear 5s linear;
  animation-fill-mode: forwards;
}
body .load .loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 30%;
  left: 35%;
  animation: spin 2s linear infinite;
}
body .after-load {
  animation: disappear 5s linear;
}

/*Header*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .logo {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
nav .logo img {
  width: 51%;
  object-fit: cover;
}
nav .localisation {
  width: 100%;
  background-color: #EAEAEA;
  text-align: center;
  border-top: 5px solid #E3E3E3;
}
nav .localisation p {
  font-size: 18px;
  margin-right: 40px;
}
nav .localisation p .fa-map-marker {
  color: black;
  margin-right: 23px;
}
nav .reserver {
  background-color: #F6F6F6;
  width: 100%;
  text-align: center;
}
nav .reserver .soustitre1 {
  font-weight: bold;
  font-size: 28px;
  width: 70%;
  margin: 37px auto;
  margin-bottom: 18px;
}
nav .reserver .soustitre2 {
  font-size: 21px;
  width: 89%;
  margin: 35px auto;
  margin-top: 19px;
  color: grey;
}
nav .reserver .btn {
  height: 57px;
  width: 250px;
  font-size: 18px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: 0;
  border-radius: 28px;
}
nav .reserver .btn:hover {
  filter: brightness(1.5);
}
nav .reserver .vide {
  height: 50px;
}

/*section1*/
.section1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-size: 28px;
  margin-top: 33px;
  font-weight: 900;
  text-align: start;
  margin-left: 36px;
}

.fonctionnement {
  margin: 4% auto;
  margin-left: 10%;
  height: 80px;
  width: 85%;
  position: relative;
  border: 1px solid #F5EDFF;
  border-radius: 25px;
  background-color: #F5EDFF;
  box-shadow: 6px 6px 10px #f6f6f6;
}

.fonctionnement div {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #9356DC;
  text-align: center;
}

.fonctionnement a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding-left: 13px;
}

.top {
  top: 32px;
}

.left {
  left: -8px;
}

.nbricon {
  color: white;
  font-size: 10px;
  padding-bottom: 26px;
  margin-top: 6px;
}

.text-fonct1 {
  padding-left: 27px;
  margin-top: 16px;
  padding-right: 55px;
  font-size: 18px;
}

.text-fonct2 {
  padding-left: 27px;
  margin-top: 16px;
  padding-right: 80px;
  font-size: 18px;
}

.text-fonct3 {
  padding-left: 27px;
  margin-top: 16px;
  padding-right: 80px;
  font-size: 18px;
}

.fa-mobile-alt, .fa-list-ul {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

.fa-mobile-alt {
  padding-right: 40px;
}

.fa-list-ul {
  padding-right: 26px;
}

.fa-store {
  padding-right: 26px;
}

/*section2*/
.section2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #F6F6F6;
}

h1 {
  text-align: start;
  padding-left: 30px;
  font-size: 28px;
  margin-top: 50px;
  padding-top: 50px;
}

.listresto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.restaurant {
  background-color: white;
  border-radius: 30px;
  box-shadow: 6px 6px 10px lightgray;
  height: 290px;
  width: 380px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.photo {
  height: 76%;
  position: relative;
}
.photo p {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  margin-top: 0;
}

.figure {
  height: 100%;
  width: 100%;
  border: 0px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.fa-heart {
  font-size: 24px;
  background: linear-gradient(180deg, #a73dfd 0%, #f16eca 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0;
}

.lock {
  text-decoration: none;
}

.lock:hover .fa-heart-o,
.lock .fa-heart {
  display: none;
}

.lock:hover .fa-heart {
  display: inline;
}

.fa-heart-o {
  color: black;
  font-size: 24px;
}

.nonsurligne {
  text-decoration: none;
  color: black;
}

.nouveau {
  position: absolute;
  background: #99E2D0;
  width: 77px;
  height: 32px;
  margin-left: 270px;
}
.nouveau p {
  color: #0D8E6E;
}

.top2 {
  top: 10px;
  left: 10px;
}

.textphoto {
  height: 40%;
  padding-left: 6%;
  text-align: start;
  display: flex;
}

.texte {
  width: 90%;
  text-overflow: ellipsis;
}

.coeur {
  padding-top: 30px;
}

h2 {
  font-size: 18px;
  margin: 18px 0px 5px 0px;
}

.griser1 {
  color: black;
  font-size: 18px;
  margin-bottom: -12px;
  margin-top: 0;
}

footer {
  width: 100%;
  margin: 0 auto;
  text-align: start;
  background-color: #353535;
  color: white;
}
footer ul {
  list-style: none;
  margin-top: 0px;
  font-size: 24px;
}
footer ul .ssfooter {
  font-family: "shrikhand";
  margin-bottom: 10px;
}
footer ul li {
  margin-top: 5px;
}

.fa-cutlery {
  margin-right: 20px;
}

.fa-hands-helping {
  margin-right: 8px;
}

/*# sourceMappingURL=style.css.map */
