/*variables*/

$couleur-prim: #9356DC;
$couleur-sec: #FF79DA;
$couleur-ter: #99E2D0;
$degrade: linear-gradient($couleur-sec,$couleur-prim);
$blanc: white;
$color-fonct: #F5EDFF;
$color-shadow: #F6F6F6;
$policelettre24: 24px;
$policelettre18: 18px;
$policelettre28: 28px;
$policelettre34: 34px;
$taillebody: 100%;

/*animations keyframes*/
@keyframes appear {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@keyframes disappear {
    from {
        opacity:0;
    }
    70%{ opacity:0;}
    to {
        opacity:1;
    }
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
  }

/*Propriétés de la page avec chargement de la page*/
body{
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
  }

/*Header*/
nav{
  position: relative;
  width: $taillebody;
  margin: 0 auto;
    img{
        text-align: center; 
        width: 45%; 
        object-fit: cover;}
}
.imag1{width: 100%; text-align: center;}

nav div a:visited{ color: black;}
.fleche{margin-left: 3%;}
.fa-arrow-left{font-size: 30px;}

.entete{display: flex;align-items: center;}

.screenshot{width: 100%;}

main{display: flex;
  flex-direction: column;
  text-align: center;
  width: $taillebody;
  margin: 0 auto;}

main div div img{width: 100%;
  height: 337px;
  object-fit: cover;}
.imag2{width: 100%; text-align: center;}


.corps {position: relative;
    width: 100%;
    background-color: #F6F6F6;
    text-align: center;
    margin-left: 0px;
    border: 0px solid #7E7E7E;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.top { top: -31px;}
.prix{font-weight: bold;margin-top: 22px;
      font-size: 22px;}
.section1{
    width:100%; 
    margin: 0 auto;
    text-align: center; 
    margin: 0 auto;
    .activ{
      display: flex;
      background-color: $blanc;
      border-radius: 15px;
      box-shadow: 6px 6px 10px lightgray;
      height: 90px;
      width: 94%;
      margin: 20px auto;
      overflow: hidden;
      cursor: pointer;
      .textphoto{
        height: 90px;
        padding-left: 2%;
        text-align: start;
        width:100%;
        display: flex;
        .texte{
          width: 90%; 
          .depasse{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 4px;
            
          }
        }
        .coeur{
          padding-top: 30px; 
          width: 10%;}
    }
      
      .check{ 
        background-color: green; 
        text-align: center;
        color: $blanc;
        vertical-align: middle;
        width:0%;
        overflow: hidden;
        transition-property: width ;transition-duration: 1s;
        .fa-check-circle{
          margin-top: 1rem;
          font-size: 36px;
          }
      } 
      &:hover{
          
          .check { width: 20%;
              .fa-check-circle {animation-name: spin;animation-duration: 100ms;animation-delay:300ms;animation-timing-function:ease-in; animation-play-state:running;animation-iteration-count: 1;animation-fill-mode: backwards;};
          }
      }
  }

}

.btn{
  height: 57px;
            width: 250px;
            font-size: $policelettre18;
            background: $degrade ;
            color: white;
            border: 0;
            border-radius: 28px;
            &:hover{filter: brightness(1.5)}
            margin: 50px auto;
}
.vide{height: 50px;}

.textphoto1{display: flex; align-items: center;justify-content: space-around; width:100%; margin-top: 20px;}
.lemenu{width: 75%;}

#Restaurant{text-align: start;
  font-weight: normal;
  margin-left: 5%;}
.titremenu{border-bottom:4px solid #99E2D0;}



h2{
  font-family: "Shrikhand";
  font-size: $policelettre34;
  margin: 13px 0px 5px 0px;
  text-align: start;
  padding-left: 0%;
}
h3{font-size: $policelettre24;}
h4{ font-size: 20px; font-weight: normal;margin-top: 0px;}
.griser1{
    color: black;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.fa-heart-o{ color: black ;font-size: $policelettre34;}

.menu1{animation: disappear 1s linear; }
.menu2{animation: disappear 2s linear;}
.menu3{animation: disappear 3s linear; }
.menu4{animation: disappear 4s linear; }

footer{
  position: relative;
    width: $taillebody;
    margin: 0 auto;
    text-align: start;
    background-color: #353535;
    color: white;
    top: -31px;
   ul {list-style: none;
       margin-top: 0px;
       font-size: $policelettre24;
       padding-bottom: 40px;
       .ssfooter{ font-family: "shrikhand";
        margin-bottom: 10px;
        margin-top: 0px;
        padding-top: 20px;
                  }
      li{margin-top:12px;}
      }
}

.footertext1{font-size: 22px;}

.fa-cutlery{margin-right: 20px;}
.fa-hands-helping{margin-right: 8px;}